{% extends "base.html" %}
{% block body %}
	<h1>About</h1>
    <section>
    <h2>Quellen</h2>
    <ul>
        <li><a href="https://www.forschungsinformationssystem.de/servlet/is/506095/Aufbau_Lithium-Ionen-Batteriezelle_v02.png">Lithium-Ionen-Batterie Aufbau - Bild</a></li>
        <li><a href="https://avenergy.ch/de/resultat/2-news/423-e-mobilitaet-batterieproduktion-belastet-umwelt#:~:text=Zentrale%20Aussagekraft%20hat%20eine%20Zahl,200%20Kilogramm%20pro%20Kilowattstunde%20freisetzt">E-Mobilität: Batterieproduktion belastet Umwelt</a></li>
        <li><a href="https://de.wikipedia.org/wiki/Lithium-Polymer-Akkumulator">Lithium-Polymer-Akkus - Wikipedia (Infos &amp; Bilder)</a> </li>
        <li><a href="https://www.umweltbundesamt.de/umwelttipps-fuer-den-alltag/elektrogeraete/lithium-batterien-lithium-ionen-akkus">Sachgemäßer Umgang mit Lithium-Batterien und -Akkus unerlässlich</a></li>
        <li><a href="https://studyflix.de/chemie/lithium-ionen-akku-5620">Studyflix - Infos</a></li>
        <li><a href="https://www.jauch.com/downloadfile/5c503f110f073193e5348d559b75424dc/">Einführung in die Lithium-Polymer-Batterie-Technologie - Paper</a></li>
    </ul>
    </section>
    <section>
    <h2>Quellcode</h2>
        Der Quellcode f&uuml;r diese Website ist verf&uuml;gbar auf <a href="https://github.com/Schatten2021/li-ion-server">GitHub</a>.
    </section>
{% endblock %}
