{% extends "base.html" %}
{% block body %}
	<h1>About</h1>
    <section>
    <h2>Ersteller</h2>
    <ul>
        <li>Fabian Spielberg</li>
        <li>Leonhard Melcher</li>
        <li>Max Volmerhaus</li>
    </ul>
    </section>
    <section>
    <h2>Quellen</h2>
    <ul>
        <li><a href="https://www.forschungsinformationssystem.de/servlet/is/506095/Aufbau_Lithium-Ionen-Batteriezelle_v02.png">Lithium-Ionen-Batterie Aufbau - Bild</a></li>
    </ul>
    </section>
    <section>
    <h2>Quellcode</h2>
    <a href=""
    </section>
{% endblock %}