{% extends 'base.html' %}
{% block body %}
	<h1>Geschichte</h1>
    <p>
    Ihren Ursprung haben die Lithium-Ionen-Akkus 1970, als Wissenschaftler der <a href="https://www.tum.de/">TU-M&uuml;nchen</a> nach M&ouml;glichkeiten der Ionen-Lagerung suchten.
    Dabei fanden sie heraus, dass Elektroden auf Basis von Lithium sehr geeignet waren.
    </p>
    <p>
    1980 gelang es daraufhin der <a href="https://www.ox.ac.uk/">University of Oxford</a>, Lithium-Cobalt-Dioxid-Verbindungen als Anode herzustellen.
    Dies war ein wichtiger Baustein eines Akkumulators, der damals dreimal effizienter als andere waren.
    </p>
    <p>
    Ab den 1990ern fanden Lithium-Ionen-Akkus ihren weg immer mehr in das Alltagsleben der Menschen.
    So stellte Sony 1991 als erste Firma Videokameras und Notebooks mit Lithium-Ionen-Akkus her, und Mitte der 1990er kamen auch die ersten Mobiltelefone mit Lithium-Ionen-Akku auf den Markt.
    1999 kam dann auch das erste Handy mit Lithium-Polymer-Akku auf den Markt, was dank diesem um einiges kleiner und flacher war als andere Handys.
    Daraufhin wurde dieser auch f&uuml;r alle m&ouml;glichen Akku-betriebene Technologien verwendet.
    </p>
    <p>
    Allerdings versucht man heutzutage, andere, &auml;hnlich effektive Akkus zu finden, da die Ressourcen f&uuml;r den Lithium-Ionen-Akku nicht sehr nachhaltig sind.
    </p>
{% endblock %}