{% extends "base.html" %}
{% block body %}
	<h1>Lithium Polymer Akkus</h1>
    <p>
    Lithium-Polymer-Akkus haben den gleichen Aufbau wie <a href="/ion">Lithium-Ionen-Akkus</a>, nur dass f&uuml;r das Polymer verwendet wird (Lithium[3,5bi(triflourmethyl)pyrazolid]).
    Da dies fest bzw. gel-f&ouml;rmig ist, kann der Akku in alle m&ouml;glichen Formen gebaut werden und es wird kein festes Geh&auml;use ben&ouml;tigt.
    In fester Form wird eine Temperatur von 60&deg;C ben&ouml;tigt, damit das Elektrolyt Leitf&auml;hig wird.
    Bei einem Gel reicht allerdings schon die Raumtemperatur.
    </p>
    <p>
    Ein gro&szlig;er Nachteil der Lithium-Polymer-Akkus ist allerdings, dass sich bei &Uuml;berladung entz&uuml;ndliche Gase bilden, wodurch eine Brandgefahr besteht.
    Deshalb ist mit beim Laden von Lithium-Polymer-Akkus immer Vorsicht geboten.
    Au&szlig;erdem sind Lithium-Polymer-Akkus Hitze- und K&auml;lteempfindlich.
    </p>

{% endblock %}